bread-crumb-bar {
    -fx-background-color: #E6E6FA;
}
.bread-crumb-bar .button {
    -fx-padding: 9 5 5 5;
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-content-display: left;
    -fx-background-repeat: no-repeat;
    -fx-border-color: transparent;
    -fx-font-size: 1.2em;
}
.bread-crumb-bar .first {
    -fx-border-color: transparent;
    -fx-font-size: 1.2em;
    -fx-text-fill: #000;
    -fx-background-image: null;
    -fx-shape:null;
    -fx-padding: 9 5 5 5;
}
.crumb {
    -fx-text-fill: #000;
}
.crumb:hover,
.crumb:selected,
.crumb:focused
{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-border-color: null;
    -fx-font-size: 1.2em;
    -fx-text-fill: rgba(0,0,0,0.5);
}